li {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.appBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    // grid-template-columns: repeat(auto-fill, minmax(calc(min(100%/1, max(280px, 100%/5))), 1fr));

    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
}

.dragDropArea {
    grid-column: 2;
    display: flex;
    // flex-direction: row;
    gap: 200px;
}

.fridgeBox {
    width: 400px;
    height: 800px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.562), 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    position: relative;
    ul {
        width: 500px;
        height: 900px;
    }
}

.bowlBox {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.562), 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 200px;
    align-self: center;
    position: relative;
    ul {
        width: 500px;
        height: 500px;
    }
}

.recipeBox {
    grid-column: 1;
    width: 400px;
    height: 800px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.562), 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.IngredientImage {
    width: 50px;
    height: 50px;
    padding: 20px;
}

.fridgeBGImage {
    width: 400px;
    height: 800px;
    border-radius: 40px;
    z-index: -1;
    position: absolute;
        right: 0;
        top: 0;
}

.bowelBGImage {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
}

.genRecipeButton{
    width: 100px;
    border: 0;
    padding: 10px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 40px;
    transition: transform .3s;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
        background-color: #a9ffb7;
    }
    &:active {
        background-color: #339743;
    }
}

